{{- $about := .Site.Params.about }}
<section class="section section-feature-grey is-medium" id="about">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">About</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns is-mobile is-multiline">


      <hr>

      <div class="columns">
        <div class="column is-half">

          <p>TEXT</p>

          <p>TEXT</p>
        </div>
      </div>

    </div>
  </div>
</section>