<section class="section is-medium" id="community">
  <div class="content-wrapper">

    <div class="subtitle has-text-centered">
      <h4>Community</h4>
    </div>

    <div class="content-wrapper">
      
      <div class="column">
        <dl class="box">
          <dt>Mailing List</dt>
          <dd><em>TBD</em></dd>
          <dt>Dev Meetings</dt>
          <dd>Bi-weekly (Starting Sept 24th), Tuesdays 10:30AM PST.
            <br>
            <a href="https://zoom.us/j/623691799?pwd=ZWc4SHFNdWpRUVVNYkdJWE9zVHpjZz09">Zoom invite URL</a> | <a href="https://docs.google.com/document/d/1nqdFEyULekyksFHtFvgvFAYE-0AMHKoS3RMnaKsarjs/edit?usp=sharing">Meeting notes</a>
          </dd>
          <dt>Meeting invite</dt>
          <dd><a href="https://zoom.us/j/623691799?pwd=ZWc4SHFNdWpRUVVNYkdJWE9zVHpjZz09">zoom.us/j/623691799</a></dd>
          <dt>Meeting notes</dt>
          <dd><a href="https://docs.google.com/document/d/1nqdFEyULekyksFHtFvgvFAYE-0AMHKoS3RMnaKsarjs/edit?usp=sharing">Notes doc</a></dd>
          <dt>Slack Channel</dt>
          <dd>TBD</dd>
        </dt>
      </div>

    </div>
  </div>
</section>