<section class="section is-medium" id="community">
  <div class="content-wrapper">

    <div class="subtitle has-text-centered">
      <h4>Partners</h4>
    </div>

    <hr>

    <nav class="level">
      <div class="level-item has-text-centered">
        <img src="../images/logos/microsoft.png" alt="Microsoft" />
      </div>
      
      <div class="level-item has-text-centered">
        <img src="../images/logos/alibaba-cloud-new.png" alt="Alibaba Cloud" />
      </div>

      <div class="level-item has-text-centered">
        <img src="../images/logos/upbound.png" alt="Upbound" />
      </div>
    </nav>

    <div class="content-wrapper">
      <div class="column">
        <dl class="box">
          <dt>Mailing List</dt>
          <dd><a href="https://groups.google.com/forum/#!forum/oam-dev">https://groups.google.com/forum/#!forum/oam-dev</a></dd>
          <dt>Dev Meetings</dt>
          <dd>Bi-weekly (Starting October 22nd, 2019), Tuesdays 10:30AM PST </a>
          </dd>
          <dt>APAC Friendly Dev Meetings</dt>
          <dd>Bi-weekly (Starting October 28th, 2019), Mondays 4:30PM PST </a>
          </dd>
          <dt>Meeting invite</dt>
          <dd><a href="https://us04web.zoom.us/j/661104426">https://us04web.zoom.us/j/661104426</a></dd>
          <dt>Meeting notes</dt>
          <dd><a href="https://docs.google.com/document/d/1nqdFEyULekyksFHtFvgvFAYE-0AMHKoS3RMnaKsarjs/edit?usp=sharing">Notes doc</a></dd>
          <dt>IM Channel</dt>
          <dd><a href="https://gitter.im/oam-dev/">https://gitter.im/oam-dev/</a></dd>
        </dt>
      </div>

    </div>
  </div>
</section>
