<section class="section is-medium" id="community">
  <div class="content-wrapper">

    <div class="subtitle has-text-centered">
      <h4>Community</h4>
    </div>

    <hr>

    <nav class="level">
      <div class="level-item has-text-centered">
        <img src="../images/logos/microsoft.png" alt="Microsoft" />
      </div>

      <div class="level-item has-text-centered">
        <img src="../images/logos/alibaba-cloud-new.png" alt="Alibaba Cloud" />
      </div>
    </nav>

    <div class="content-wrapper" style="padding-top: 3px ;">
      <div>
        <p class="rudr-cta"> OAM is driven by real world practices along with KubeVela. Join us! &darr;</p>
      </div>
      <div class="column">
        <dl class="box">
          <dt>Community Repo</dt>
          <dd><a href="https://github.com/kubevela/community">https://github.com/kubevela/community</a>
          </dd>
          <dt style="border-top: 2px gray dashed; margin-top: 10px; padding-top: 10px;">Dev Meetings</dt>
          <dd style="border-top: 2px gray dashed; margin-top: 10px; padding-top: 10px;">Bi-weekly (Starting Oct 25,
            2022),
            Tuesdays
            07:30am Pacific
            Time (PST) </a>
          </dd>
          <dt>Meeting invite</dt>
          <dd><a
              href="https://zoom.us/j/5706981108?pwd=N0lOVit3Titwb3B2VitZbHhKU3k1Zz09">https://zoom.us/j/5706981108</a>
          </dd>
          <dt>Meeting notes</dt>
          <dd><a
              href="https://docs.google.com/document/d/1nqdFEyULekyksFHtFvgvFAYE-0AMHKoS3RMnaKsarjs/edit?usp=sharing">Notes
              doc</a></dd>
          <dt>Meeting Records</dt>
          <dd><a href="https://www.youtube.com/channel/UCSCTHhGI5XJ0SEhDHVakPAA/videos">YouTube Videos </a></dd>
          <dt>IM Channel</dt>
          <dd><a href="https://cloud-native.slack.com/archives/C01BLQ3HTJA">CNCF Slack OAM/KubeVela Channel </a>
          </dd>

          <dt style="border-top: 2px gray dashed; margin-top: 10px; padding-top: 10px;">APAC Friendly Dev Meetings
            (Chinese)</dt>
          <dd style="border-top: 2px gray dashed; margin-top: 10px; padding-top: 10px;">Bi-weekly APAC (Starting Oct 18,
            2022), Tuesdays 19:00pm China Standard Time
            (CST) </a>
          </dd>
          <dt>Meeting invite (Chinese)</dt>
          <dd><a
              href="https://zoom.us/j/5706981108?pwd=N0lOVit3Titwb3B2VitZbHhKU3k1Zz09">https://zoom.us/j/5706981108</a>
          </dd>
          <dt>Meeting Records (Chinese)</dt>
          <dd><a href="https://space.bilibili.com/180074935/channel/seriesdetail?sid=1842207">Bilibili Videos</a>
          </dd>
          <dt>IM Channel (Chinese)</dt>
          <dd><a href="https://page.dingtalk.com/wow/dingtalk/act/en-home">DingTalk Group: 23310022</a>
          </dd>
          </dt>
      </div>

    </div>
  </div>
</section>
