{{- $ecosystem := .Site.Params.ecosystem }}
<section class="section is-medium" id="ecosystem">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Users and Ecosystem</h4>
    </div>

    <div class="columns">
      <div class="column is-one-fifths is-hidden-mobile has-text-left"><img src="images/logos/4-paradigm.png" alt="4 Paradigm" /></div>
      
      <div class="column is-four-fifths is-four-fifths-mobile">
        <p>4Paradigm adopts OAM to build its cloud native AI platform that serves numerous customers in machine learning industry.</p>
        <small><a href="http://www.4paradigm.com/">4 Paradigm</a></small>
      </div>
      
    </div> 

    <div class="columns">
      <div class="column is-one-fifths is-hidden-mobile has-text-left"><img src="images/logos/crossplane.png" alt="Crossplane" /></div>
      
      <div class="column is-four-fifths is-four-fifths-mobile">
        <p>Crossplane brings cloud services your OAM application needs to your Kubernetes cluster.</p>
        <small><a href="https://github.com/crossplane/crossplane">Crossplane</a></small>
      </div>
      
    </div>

    
    <div class="columns">
      <div class="column is-one-fifths is-hidden-mobile has-text-left"><img src="images/logos/alibaba-cloud.png" alt="Alibaba Cloud" /></div>
      
      <div class="column is-four-fifths is-four-fifths-mobile">
        <p>Alibaba Cloud Enterprise Distributed Application Service (EDAS) is a Kubernetes native application platform built with OAM.</p>
        <small><a href="https://www.alibabacloud.com/zh/product/edas">AlibabaCloud EDAS</a></small>
      </div>
      
    </div>
    
  </div>
</section>
