{{- $rudr := .Site.Params.rudr }}
<section class="section is-medium" id="examples">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Examples</h4>
    </div>

    <br><br><br>
    
    <div class="columns">
      <div class="column is-half">
        
        <div class="box">
          <h2 class="title">Example-1.yml</h2>
          <h4>Create a component:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha1
kind: ComponentSchematic
metadata:
  name: helloworld-python-v1
spec:
  name: helloworld-python
  workloadType: core.oam.dev/v1alpha1.Server
  containers:
    - name: foo
      image: oamdev/helloworld-python:v1
      env:
        - name: TARGET
          fromParam: target
        - name: PORT
          fromParam: port
      ports:
        - type: tcp
          containerPort: 9999
          name: http
  parameters:
    - name: target
      type: string
      default: World
    - name: port
      type: string
      default: "9999"
          </pre>
        </div>
      </div>

      <div class="column is half">
        <div class="box">
          <h2 class="title">Example-2.yml</h2>
          <h4>Show a component and a config in one file:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha1
kind: ComponentSchematic
metadata:
  name: alpine-forever-v1
spec:
  workloadType: core.oam.dev/v1alpha1.SingletonServer
  parameters:
    - name: message
      type: string
      required: false
    - name: unused_integer
      type: number
      required: false
      default: 5678
  containers:
    - name: runner
      image: technosophos/alpine-forever:latest
      env:
        - name: FOO
          value: bar
          fromParam: message
        - name: UNUSED
          value: "1234"
          fromParam: unused_integer
---
apiVersion: core.oam.dev/v1alpha1
kind: ApplicationConfiguration
metadata:
  name: example-env-vars
spec:
  components:
    - name: alpine-forever-v1
      instanceName: example-alpine-forever
      parameterValues:
        - name: message
          value: Hello World
          </pre>
        </div>
      </div>

    </div>
  </div>
</section>