{{- $ecosystem := .Site.Params.ecosystem }}
<section class="section is-medium" id="examples">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Examples</h4>
    </div>

    <br><br><br>
    
    <div class="columns is-hidden-mobile">
      <div class="column is-half">
        
        <div class="box">
          <h2 class="title">MyComponent.yml</h2>
          <h4>Create a component:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha2
kind: Component
metadata:
  name: helloworld-python-v1
spec:
  workload:
    apiVersion: core.oam.dev/v1alpha2
    kind: ContainerizedWorkload
    metadata:
      name: helloworld-python-v1-workload
    spec:
      containers:
        - name: foo
          image: oamdev/helloworld-python:v1
          env:
            - name: TARGET
            - name: PORT
              value: 8080
          ports:
            - protocol: TCP
              containerPort: 9999
              name: http
          resources:
            cpu:
              required: "0.1"
            memory:
              required: "128"
  parameters:
    - name: target
      description: "A value for the component to print out after 'Hello'. We suggest 'World'"
      required: true
      fieldPaths:
        - spec.containers[0].env[0].value
    - name: port
      description: "The port for the component to listen on."
      required: false
      fieldPaths:
        - spec.containers[0].env[1].value
            
          </pre>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="title">MyAppConfig.yml</h2>
          <h4>Use the component in an application:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha2
kind: ApplicationConfiguration
metadata:
  name: first-app
spec:
  components:
    - componentName: helloworld-python-v1
      parameterValues:
        - name: target
          value: World
        - name: port
          value: "80"
      traits:
        - trait:
            apiVersion: core.oam.dev/v1alpha2
            kind: ManualScalerTrait
            metadata:
              name: helloworld-python-v1
            spec:
              replicaCount: 3
          </pre>
        </div>
      </div>

    </div>

  </div>
</section>