{{- $ecosystem := .Site.Params.ecosystem }}
<section class="section is-medium" id="examples">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Examples</h4>
    </div>

    <br><br><br>
    
    <div class="columns is-hidden-mobile">
      <div class="column is-half">
        
        <div class="box">
          <h2 class="title">MyComponents.yml</h2>
          <h4>Create components:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha2
kind: Component
metadata:
  name: web
spec:
  type: Server
  settings:
    containers:
      - image: oamdev/helloworld-python:v1
        ports:
          - protocol: TCP
            containerPort: 9999
            name: http
---
apiVersion: core.oam.dev/v1alpha2
kind: Component
metadata:
  name: function
spec:
  type: Function
  settings:
    runtime: java8
    blobCodeUrl: http://xxx/f36286e6-f070-498f-a520-6dd3a589bd90
          </pre>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="title">MyAppConfig.yml</h2>
          <h4>Assign operations to components:</h4>
          <hr>

          <pre>
apiVersion: core.oam.dev/v1alpha2
kind: ApplicationConfiguration
metadata:
  name: myapp
spec:
  components:
    - componentName: web
      traits:
        - name: autoscaler
          properties:
            min: 1
            max: 100
        - name: rollout
          properties:
            canary:
              maxSurge: 25%
              maxUnavailable: 0
              steps:
                - setWeight: 10
    - componentName: function
      traits:
        - name: autoscaler
          properties:
            min: 0
            max: 1000
            triggers:
              - type: metaq
          </pre>
        </div>
      </div>

    </div>

  </div>
</section>