{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
<footer class="footer">
  <div class="columns">
    <div class="column is-half">
      <div class="footer-logo is-hidden-mobile">
        <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
      </div>
    </div>
    <div class="column is-half is-full-mobile">
      <div class="content has-text-right has-text-centered-mobile">
          <p>
            {{- range $socialMedia }}
            <a class="" href="{{ .link }}">
              <span class="icon"><i class="fa fa-{{ .icon }}"></i></span> {{humanize .name }}
            </a>
            {{- end }}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
