<section class="hero is-default" id="home">
  <div class="content-wrapper">

    <div class="columns hero01">
      <div class="column is-half">
        <img src="images/app-pic-01.svg" revealOnScroll alt="Application Devs" data-animation="fadeInBottom" />
      </div>

      <div class="column is-half">
        <h1 class="title">A team-centric <strong>standard</strong> for building cloud native apps.</h1>
        
        <p>Open Application Model [OAM] describes a model where <strong>developers</strong> are responsible for defining application components.</p>
      </div>
    </div>

    <div class="columns hero02">
      <div class="column is-half">
        <img src="images/app-pic-02.svg" revealOnScroll class="has-text-right" alt="Application Ops" data-animation="fadeInBottom" />
      </div>
      <div class="column is-half">

        <p>While <strong>application operators</strong> are responsible for creating instances of those components and assigning them application configurations.</p>
      </div>
    </div>

    <div class="columns hero03">
      <div class="column is-half">
        <img src="images/app-pic-03.svg" revealOnScroll alt="Infrastructure Operators" data-animation="fadeInBottom" />
      </div>
      <div class="column is-half">

        <p>And <strong>infrastructure operators</strong> are responsible for declaring, installing, and maintaining the underlying services that are available on the platform.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-full">
          <div class="button-cta has-text-centered">
            <a class="button is-primary is-large" href="https://github.com/microsoft/hydra-spec">Read the Spec</a>
            <p class="rudr-cta">Check out <a href="https://github.com/microsoft/scylla"><strong>Rudr</strong></a> for a Kubernetes implementation of the specification. &darr;</p>
          </div>
      </div>
    </div>

  </div>
</section>