<section class="hero is-default" id="home">
  <div class="content-wrapper">

    <div class="columns is-vcentered is-mobile hero01">
      <div class="column is-one-third-mobile">
        <img src="images/app-pic-01.svg" revealOnScroll alt="Application Devs" data-animation="fadeInBottom" />
      </div>

      <div class="github-wrapper">
        <a class="github-button" href="https://github.com/oam-dev/spec" data-size="large" data-show-count="true" aria-label="Star oam-dev/spec on GitHub">Star</a>
      </div>

      <div class="column is-two-thirds-mobile">
        <h1 class="title">An open <strong>standard</strong> for defining cloud native apps.</h1>
      </div>
    </div>

    <div class="columns is-mobile is-one-third-mobile hero02">
      <div class="column">
        <img src="images/app-pic-02.svg" revealOnScroll alt="Application Operators" data-animation="fadeInBottom" />
      </div>
      <div class="column is-two-thirds-mobile">
        <p>Open Application Model [OAM] is a runtime-agnostic specification for defining cloud native applications.</p>
      </div>
    </div>

    <div class="columns is-mobile is-one-third-mobile hero03">
      <div class="column">
        <img src="images/app-pic-03.svg" revealOnScroll alt="Infrastructure Operators" data-animation="fadeInBottom" />
      </div>
      <div class="column is-two-thirds-mobile">
        <p>Focused on application rather than container or orchestrator. Open Application Model brings modular, extensible, and portable design for modeling cloud native applications and enable delivering applications to any runtimes like Kubernetes, cloud, or IoT devices in a unified approach.</p>
      </div>
    </div>

    <div class="columns is-mobile">
      <div class="column is-full">
          <div class="button-cta has-text-centered">
            <a class="button is-primary is-large" href="https://github.com/oam-dev/spec">Read the Spec</a>
            <p class="rudr-cta">Check out <a href="https://github.com/oam-dev/kubevela"><strong>KubeVela</strong></a> to experience Open Application Model on Kubernetes. &darr;</p>
          </div>
      </div>
    </div>

  </div>
</section>
