{{- $implementations := .Site.Params.implementations }}
<section class="section is-medium" id="implementations">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>See It In Action</h4>
    </div>

    <div class="columns">
      <div class="column is-quarter is-one-quarter-mobile has-text-left"><img src="images/kubevela.svg" alt="KubeVela" /></div>
      
      <div class="column is-three-quarters is-three-quarters-mobile">
        <h1><a href="https://github.com/oam-dev/kubevela">KubeVela</a> is a modern application deployment system powered by Open Application Model.</h1>

        <p>Leveraging Kubernetes as control plane, KubeVela as a platform is runtime agnostice. It allows you to deploy (and operate) containerized workloads, cloud functions, databases, or even EC2 instances with consistent workflow.</p>
      </div>
      
    </div>

    <div class="columns">
      <div class="column is-quarter has-text-left">
        <ul>
          <li><a href="https://kubevela.io">Documentation</a></li>
          <li><a href="https://github.com/oam-dev/kubevela">Github Repo</a></li>
        </ul>
      </div>
      <div class="column is-three-quarters">
        <p>KubeVela itself is programmable, it naturally expands when your needs grow.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-quarter has-text-centered">
        <hr>
        
        <p><a href="https://github.com/oam-dev/kubevela" class="button is-primary is-large"><span class="icon"><i class="fa fa-github"></i></span> &nbsp; Learn More</a></p>
      </div>
    </div>
  </div>
</section>