{{- $implementations := .Site.Params.implementations }}
<section class="section is-medium" id="implementations">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Implementation</h4>
    </div>

    <div class="columns">
      <div class="column is-quarter is-one-quarter-mobile has-text-left"><img src="images/rudr.svg" alt="Rudr" /></div>
      
      <div class="column is-three-quarters is-three-quarters-mobile">
        <h1>Rudr: A Kubernetes Implementation of the Open Application Model</h1>
        <small><a href="https://github.com/oam-dev/rudr">github.com/oam-dev/rudr</a></small>
      </div>
      
    </div>

    <div class="columns">
      <div class="column is-quarter has-text-left">
        <ul>
          <li><a href="https://github.com/oam-dev/rudr/tree/master/docs">Documentation</a></li>
          <li><a href="https://github.com/oam-dev/rudr/blob/master/docs/setup/install.md">Getting Started</a></li>
          <li><a href="https://github.com/oam-dev/rudr">Rudr Github Repo</a></li>
        </ul>
      </div>
      <div class="column is-three-quarters">

        <p><a href="https://github.com/oam-dev/rudr">Rudr</a> takes an incremental approach to solving problems. The architecture is a set of plugins for Kubernetes which allow OAM specifications to be implemented and deployed on clusters with native APIs <em>(you still use kubectl)</em>.</p>

        <p>This allows app developers to focus on building OAM components, app operators to focus on operational capabilities through the OAM app config and infra operators to focus on Kubernetes. By leveraging the Open App Model, users now have a framework to define their apps on their Kubernetes clusters.</p>

        <p>Currently, Rudr will leverage the defined trait to accomplish the task. This gives the freedom to use whatever underlying tool the user wants while providing a trait that focuses on the functionality and not the technology. In the future, Rudr might provide a set of default technologies to provide the functionality desired by a trait.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-quarter has-text-centered">
        <hr>
        
        <p><a href="https://github.com/oam-dev/rudr" class="button is-primary is-large"><span class="icon"><i class="fa fa-github"></i></span> &nbsp; Learn More</a></p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-quarter is-one-quarter-mobile has-text-left"><img src="images/logos/ohm-borderless.svg" alt="Ohm" /></div>
      
      <div class="column is-three-quarters is-three-quarters-mobile">
        <h1>Partner Implementations</h1>
      </div>
      
    </div>

    <div class="columns">
      <div class="column is-quarter has-text-left">
      </div>
      <div class="column is-three-quarters">

        <p>A variety of parterns are supporting Open Application Model in their offerings:</p>
        <ul>
          <li><b>Alibaba Enterprise Distributed Application Service</b> - A PaaS platform for a variety of application deployment options and microservices solutions.</li>
        </ul>
      </div>
    </div>
  </div>
</section>