{{- $implementations := .Site.Params.implementations }}
<section class="section is-medium" id="implementations">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>The Platform</h4>
    </div>

    <div class="columns">
      <div class="column is-quarter is-one-quarter-mobile has-text-left"><img src="images/kubevela.svg" alt="KubeVela" /></div>
      
      <div class="column is-three-quarters is-three-quarters-mobile">
        <h1><a href="https://github.com/oam-dev/kubevela">KubeVela</a> as the Open Application Model platform intends to make deploying and managing applications across today's hybrid, multi-cloud environments easier and faster than ever.</h1>

        <p>KubeVela leverages Kubernetes as application delivery control plane but allows you to deploy (and manage) containerized workloads, cloud functions, databases, or even EC2 instances with a consistent workflow.</p>
      </div>
      
    </div>

    <div class="columns">
      <div class="column is-quarter has-text-left">
        <ul>
          <li><a href="https://kubevela.io">Documentation</a></li>
          <li><a href="https://github.com/oam-dev/kubevela">Github Repo</a></li>
        </ul>
      </div>
      <div class="column is-three-quarters">
        <p>KubeVela is fully extensible in a programmable approach so it adapts to your needs when you grow.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-quarter has-text-centered">
        <hr>
        
        <p><a href="https://github.com/oam-dev/kubevela" class="button is-primary is-large"><span class="icon"><i class="fa fa-github"></i></span> &nbsp; Learn KubeVela</a></p>
      </div>
    </div>
  </div>
</section>