{{- $oldnew := .Site.Params.oldnew }}
<section class="section section-feature-grey is-medium" id="overview">
  <div class="content-wrapper">

    <div class="subtitle has-text-centered">
      <h4>Overview</h4>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column ">
          <div class="box oldway">
            <h3>Traditional Way</h3>
            <h2 class="is-2">App Deployment is Hard</h2>
            <ol>
              <li>Developers spend time on infrastructure details instead of apps - ingress, labels, DNS, etc, and learning how the infrastructure is implemented.</li>
              <li>Inextensible - upper layer platform may be introduced, but it's almost certain that the needs of your app will outgrow the capabilities of that platform soon.</li>
              <li>Runtime lock-in - app description is tightly coupled with the runtime infrastructure, which heavily impact on how you configure, develop and operate the app across hybrid environments.</li>
            </ol>
          </div>
        </div>

        <div class="column">
          <div class="box newway">
            <h3>The OAM Way</h3>
            <h2 class="is-2">An <em>App-centric</em> Approach</h2>
            <ol>
              <li>Application first - define the app with a self-contained model, where operational behaviors as part of app definition, free of infrastructure here.</li>
              <li>Clarity and extensibility - an open standard to modularize platform capabilities into reusable pieces, assemble them into an app deployment per your own needs, fully self-service.</li>
              <li>Runtime agnostic - a consistent experience to deploy and operate your apps across on-prem clusters, cloud providers or even edge devices.</li>
            </ol>
          </div>
        </div>

      </div>

      <div class="column has-text-centered is-three-fifths is-offset-one-fifth">
        <!-- <img src="images/platforms.jpg" /> -->
      </div>

      <p class="rudr-cta">OAM is <em>platform-agnostic</em>. Read its <a href="https://github.com/oam-dev/spec/blob/master/1.purpose_and_goals.md">Purpose and Goals</a> for more background information.</p>

    </div>
  </div>
</section>