{{- $oldnew := .Site.Params.oldnew }}
<section class="section section-feature-grey is-medium" id="overview">
  <div class="content-wrapper">
    <div class="container">

      <div class="subtitle has-text-centered">
        <h4>Overview</h4>
      </div>

      <div class="content-wrapper">
        <div class="columns">
          <div class="column ">
            <div class="box oldway">
              <h3>Cloud-native development</h3>
              <h2 class="is-2">Microservices Are Complicated.</h2>
              <ol>
                <li>Developers have to spend more and more time on their app’s infrastructure tooling - images, registries, versioning, etc.</li>
                <li>Security, performance, and configuration concerns are becoming more blurred with the app development processes.</li>
                <li>Decisions about where you run your  microservices can impact on how you configure and develop your app.</li>
              </ol>
            </div>
          </div>

          <div class="column">
            <div class="box newway">
              <h3>The OAM Way</h3>
              <h2 class="is-2">A <em>New</em> Application Model</h2>
              <ol>
                <li>Manage your apps like you manage your teams - with roles and scopes for apps, free of infrastructure.</li>
                <li>An opinionated workflow that separates the concerns of developers & operators, whilst providing flexibility and clarity.</li>
                <li>Runs anywhere - a unified approach that works across cloud platforms and edge devices.</li>
              </ol>
            </div>
          </div>

        </div>

        <div class="column has-text-centered is-three-fifths is-offset-one-fifth">
          <!-- <img src="images/platforms.jpg" /> -->
        </div>

        <p class="rudr-cta">OAM is <em>platform-agnostic</em>. Read the <a href="https://github.com/oam-dev/spec/blob/master/introduction.md">Intro</a> doc for more background and user stories.</p>

      </div>
    </div>
  </div>
</section>