{{- $oldnew := .Site.Params.oldnew }}
<section class="section section-feature-grey is-medium" id="overview">
  <div class="content-wrapper">

    <div class="subtitle has-text-centered">
      <h4>Overview</h4>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column ">
          <div class="box oldway">
            <h3>Traditional Way</h3>
            <h2 class="is-2">Building Platforms is Hard</h2>
            <ol>
              <li>Developers spend time on infrastructure details instead of apps - ingress, labels, iptables rules, DNS, etc, and learning how the platform is implemented.</li>
              <li>Restricted platform capabilities - in-house APIs with opinionated abstractions and implementations, lack of interoperability.</li>
              <li>Runtime lock-in - platform is tightly coupled with execution runtime, which heavily impact on how you configure, develop and operate your app.</li>
            </ol>
          </div>
        </div>

        <div class="column">
          <div class="box newway">
            <h3>The OAM Way</h3>
            <h2 class="is-2">An <em>App-centric</em> Model</h2>
            <ol>
              <li>Application first - the platform is built around a self-contained app model, where operational characteristics are also part of app definition, free of infrastructure here.</li>
              <li>Clarity and extensibility - an open standard to modularize your platform capabilities into reusable pieces, with freedom to bring your own abstractions and implementations.</li>
              <li>Runtime agnostic - a consistent experience to deploy and operate your apps across on-prem clusters, cloud providers or even edge devices.</li>
            </ol>
          </div>
        </div>

      </div>

      <div class="column has-text-centered is-three-fifths is-offset-one-fifth">
        <!-- <img src="images/platforms.jpg" /> -->
      </div>

      <p class="rudr-cta">OAM is <em>runtime-agnostic</em>. Read the <a href="https://github.com/oam-dev/spec/blob/master/introduction.md">Intro</a> doc for more background and user stories.</p>

    </div>
  </div>
</section>