{{- $rudr := .Site.Params.rudr }}
<section class="section is-medium" id="examples">
  <div class="content-wrapper">
    
    <div class="subtitle has-text-centered">
      <h4>Examples</h4>
    </div>

    <br><br><br>
    
    <div class="columns">
      <div class="column is-two-thirds">
        
        <div class="box">
          <h2 class="title">Rudr</h2>
          <h4>OAM for Kubernetes</h4>
          <hr>

          <p>Rudr takes an incremental approach to solving problems. The architecture is a set of plugins for Kubernetes which allow OAM specifications to be implemented and deployed on clusters with native APIs <em>(you still use kubectl)</em>.</p>

          <p>This allows app developers to focus on building OAM components, app operators to focus on operational capabilities through the OAM app config and infra operators to focus on Kubernetes. By leveraging the Open App Model, users now have a framework to define their apps on their Kubernetes clusters.</p>

          <p>Currently, Rudr will leverage the defined trait to accomplish the task. This gives the freedom to use whatever underlying tool the user wants while providing a trait that focuses on the functionality and not the technology. In the future, Rudr might provide a set of default technologies to provide the functionality desired by a trait.</p>
        </div>
      </div>

      <div class="column is one-third">
        <div class="box">
          Lorem
        </div>

        <div class="box">
          Ipsum
          
        </div>


      </div>
    </div>
  </div>
</section>