{{- $sidebar         := .Site.Params.sidebar }}
{{- $sidebarLogo     := .Site.Params.sidebarLogo }}
{{- $sidebarIcon     := .Site.Params.sidebarIcon }}
<div class="sidebar">
  <div class="sidebar-header">
    {{- if $sidebarLogo}}
    <a class="navbar-item" href="{{ $sidebarLogo.link }}">
      <img src="{{ printf "/images/%s" $sidebarLogo.image | relURL }}" alt="" width="112" height="28">
    </a>
    {{- end}}
  </div>
  <div class="inner">
    <ul id="nav">
        {{- range $sidebar }}
        <li><a href="{{ .url }}" class="sidebar-item is-secondary">
          {{ .title }}
        </li></a>
        {{- end }}
    </ul>
  </div>

  <div class="sidebar-footer">
      {{- if $sidebarIcon}}
      <a class="navbar-item" href="{{ $sidebarIcon.link }}">
        <img src="{{ printf "/images/%s" $sidebarIcon.image | relURL }}" alt="" width="112" height="28">
      </a>
      {{- end}}
    </div>
</div>