/* ==========================================================================
Color variables
========================================================================== */
//oam theme

$brand: #2681D6;
$charcoal: #4F6579;
$actions: #2681D6;

$shaded: #A1C8EA;
$shadem: #A1C8EA;
$shadel: #DDE7F4;
$shade0: #DDE7F4;

$purple: #321675;

//fresh theme
$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #73CDF3;
// $secondary: #F39200;
$secondary: $actions;
$accent: #00efb7;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;

@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }
  @-moz-keyframes $animation_name {
    @content;
  }
  @-o-keyframes $animation_name {
    @content;
  }
  @keyframes $animation_name {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards;
}

@mixin ripple($color: $brand) {
  position: relative;
  display: inline-block;
  text-align: center;
  @include transition;
  
  &::after {
    position: absolute;
    bottom: -4px;
    left: 45%;
    width: 10%;
    height: 4px;
    display: inline-block;
    content: "";
    opacity: 0;
    background-color: $color;
    @include transition;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
    left: 0;
    bottom: 0;
  }
}

@mixin wipe($color: $brand) {
  position: relative;
  display: inline-block;
  overflow: hidden;
  @include transition;
  
  &::after {
    position: absolute;
    left: -20%;
    top: 125%;
    width: 200%;
    height: 150%;
    display: inline-block;
    background-blend-mode: overlay;
    content: "";
    opacity: 0;
    background-color: $color !important;
    transform: rotate(-15deg);
    z-index: -10;
    @include transition;
  }

  &:hover {
    color: white;
    background-color: transparent !important;
  }

  &:hover::after {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }
}

@mixin button($color: $brand) {
  box-sizing: border-box;
  color: $color;
  width: 15rem;
  height: 4.5rem;
  margin: 2rem auto;
  line-height: 3;
  padding: 0 2rem;
  border: 4px solid $color;
  z-index: 600;
  background: transparent !important;
}
