/* ==========================================================================
Fresh Footer
========================================================================== */

footer {
  padding: 0 1.5rem 2rem;
  background: transparent;
  
  .footer-logo {
    img {
      max-width: 20vw;
    }
  }
  
  a {
    display: inline-block;
    margin-right: 2.5rem;
    
    .icon {
      opacity: 0.25;
      padding-right: 0.25rem;
    }
  }
}