/* ==========================================================================
Hero styles
========================================================================== */

.hero {
  padding-top: 5vw;
  padding-bottom: 5vw;
  min-height: 100vh;

  h1 {
    padding-top: 5rem;
    color: $brand;
    font-weight: 500;
    font-size: 2.75vw;
    padding-right: 5%;
    margin-bottom: 4rem;

    strong {
      font-weight: 600;
    }
  }

  p {
    strong {
      opacity: 0.8;
    }
  }

  img {
    margin-left: -1vw;
    min-width: auto;
  }

  .hero02 {
    img {
      margin: 0 3.5rem 0 0;
      float: right;
    }
  }

  .button {
    background: $brand;
    margin: 5rem auto 3.5rem;
    padding: 2.5rem 3.35rem;

    &:hover {
      background: $charcoal;
    }
  }

  .rudr-cta {
    margin-top: -2.5rem;
  }
}
