/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

//Imports
@import 'partials/colors';
@import 'partials/navbar';
// @import 'partials/dropdowns';
@import 'partials/sections';
@import 'partials/hero';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/cards';
// @import 'partials/forms';
@import 'partials/animations';
// @import 'partials/sidebar';
@import 'partials/testimonials';
@import 'partials/responsive';
@import 'partials/utils';

html,
body {
  min-height: 100vh;
  background: $shade0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif !important;
  background: $shade0 !important;
  font-size: 18px;
  line-height: 1.75;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  margin-bottom: 0 !important;
 }

$sidebar-min: 20vw;

.sidebar-wrapper {
  min-height: 100vh;
  background: white;
  min-width: $sidebar-min;
  width: 15vw;
  z-index: 600;

   a {
    @include transition;
   }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    @include box-shadow;

    .sidebar-header {
      img, svg {
        position: fixed;
        top: 2.825rem;
        left: 3vw;
        width: 14vw;
        max-height: $sidebar-min !important;
        max-width: 25vw !important;
      }
    }

    ul {
      margin: 15vw 0 0 0;
      padding: 0;
      
      li {
        a {
          font-size: 1.75vw;
          // font-size: 1.5rem;
          color: $charcoal;
          display: inline-block;
          min-width: $sidebar-min;
          font-weight: 400;
          padding: 0.425rem 3vw;
          letter-spacing: 0.01em;
          @include ripple;
          text-align: left;

          &.active {
            color: $brand;
          }

          &:hover {
            color: $brand;
            background-color: lighten($shade0, 5%);
          }
        }
      }
    }

    .sidebar-footer {
      img, svg {
        position: fixed;
        bottom: 4vw;
        left: 3vw;
        width: 3.333vw;
        max-height: 200px !important;
        max-width: 5vw !important;
      }
    }
  }
}

.section,
.section-feature-grey {
  background-color: transparent;
}

.main-wrapper {
  max-width: 80vw;
  z-index: 500;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.content-wrapper {
  max-width: 960px;
  margin: 0 auto;

  p {
    margin: 1.5rem 0;
    padding-right: 5%;
    line-height: 1.7;
  }

  pre {
    line-height: 1.4;
    background-color: lighten($shade0, 6.67%);
    border-radius: 0.5rem;
  }
}

.subtitle {
  h4 {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $brand;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 auto;

    &:after {
      position: absolute;
      background: $purple;
      left: -10%;
      right: -10%;
      bottom: -0.15em;
      // width: 100%;
      height: .67em;
      display: block;
      content: " ";
      opacity: 0.13;
      border-radius: 0.5em;
    }
  }
}

.rudr-cta {
  background: rgba(255,255,255,0.25);
  padding: 1rem 0;
  border-radius: 2rem;
  text-align: center;
  margin: 2.5rem auto;
}

#overviw {
  h1 {

  }
}

#overview {
  background: linear-gradient(180deg, darken($shadel, 3%) 0%, $shade0 100%);
  border-top: 2px solid rgba(255,255,255,0.35);
  min-height: 15rem;
  padding-top: 4rem;
  padding-bottom: 0;

  .content-wrapper {
    max-width: 92%;
  }

  h3 {
    font-size: 0.925rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: darken($brand, 10%);
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.55rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .box {
    padding-left: 2.5rem;
  }

  .oldway {
    border: 2px dashed rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.15);
    outline: none;
    box-shadow: none;
  }

  .newway {

  }

  ol {
    padding-right: 5%;
    list-style-position: outside;
    padding-left: 1rem;
    color: $primary;

    li {
      margin: 1.5rem 0;
      padding-right: 5%;
      line-height: 1.55;
      color: darken($charcoal, 10%);
    }
  }

  img {
    margin: 5rem auto -3rem;
  }
}

#examples {
  background: linear-gradient(0deg, darken($shadel, 3%) 0%, $shade0 100%);
  border-top: 2px solid rgba(255,255,255,0.35);

  padding-top: 3rem;
  padding-bottom: 5rem;

  .content-wrapper {
    max-width: 92%;
  }

  .box {
    padding: 1.5rem 2rem;
    
    h2 {
      color: $brand;
      font-weight: 600;
      margin: 0.5rem 0;
    }

    h4 {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.825rem;
    }
  }
}

#ecosystem {
  background: linear-gradient(180deg, darken(white, 3%) 0%, white 100%);
  border-top: 2px solid rgba(255,255,255,0.35);
  padding-top: 3rem;

  img {
    min-width: 100%;
    margin-left: -3vw;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    padding-right: 10%;
  }

  ul {
    list-style: disc;
    margin: 1.5rem 1rem;
    line-height: 2;
  }

  .button {
    padding: 2rem 3rem;
  }
}

#community {
  img {
    max-height: 3vw;
    margin: 2.5rem 0 0;
  }
  
  dl {
    dt, dd {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0.5rem;
    }
    dt {
      font-weight: bold;
      display: inline-block;
      width: 35%;
    }

    dd {
      width: 60%;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}

// mobile styles
@media screen and (max-width: 1079px) {
  body{
    overflow-x: hidden !important;

  }
  
  .page-wrapper {
    width: 100%;
  }
  
  .sidebar-wrapper {
    min-height: 1vh;
    min-width: 100%;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .sidebar-header {
      display: none;
    }
    
    .sidebar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 4rem;
      bottom: auto;
      width: 100%;

      ul {
        margin: 0;
        padding: 0 1rem 0 5rem;
        
        li {
          display: inline-block;

          a {
            padding: 0 1.75vw;
            margin: 0;
            line-height: 4rem;
            min-width: 1rem;
            font-size: 2.2vw;
          }
        }
      }
      

      .sidebar-footer {
        svg, img {
          position: absolute !important;
          z-index: 620;
          top: -2.55rem;
          bottom: auto;
          left: 3vw;
        }
      }
    }
  }

  .main-wrapper {
    max-width: 100%;

    .hero {
      .github-wrapper {
        top: 5rem;
      }
      h1 {
        margin-top: 1rem;
        font-size: 3.5vw;
        margin-left: -3rem;
      }

      img {
        margin-left: auto;
        margin-left: auto;
      }
      
      p {
        margin: 0 0 0 -3rem;
      }

      .hero01 {
        img {
          margin-top: 3rem;
          max-width: 30vw;
        }
      }
  
      .hero02 {
        img {
          margin: 0.75rem auto 0 auto;
          max-width: 27vw;
          float: none;
        }
      }
  
      .hero03 {
        img {
          margin-top: 2rem;
          max-width: 27vw;
        }
      }
    }

    #home {
      max-width: 90vw;
      margin-left: 5vw;
    }
  }

  #community {

    .level-item {
      width: 45vw;
      display: inline-block;

    }
    img {
      max-height: 12.5rem !important;
      width: 25vw;
    }
  }

  #ecosystem {
    position: relative;
    
    img {
      max-height: 8rem;
      position: absolute;
      right: -32vw;
      top: 15.33rem;
    }
  }
} // mobile styles

// smaller mobile
@media screen and (max-width: 768px) {

  .main-wrapper {
    .hero {
      h1, p {
        margin-left: -25vw;
      }

      h1 {
        font-size: 5vw;
      }
      
      img {
        display: none;
      }

      p.rudr-cta {
        margin-left: 0;
      }
    }
  }
}